
@media screen and (min-width: 950px) {
    /* start of desktop styles */
    
    header {
        display: flex;
        width: 100%;
        font-size: 1.5em;
    }
    
    h1 {
        font-size: 4rem;
        width: 50%;
        padding: 1em;
    }
    
    nav {
        display: flex;
        justify-content: flex-end;
        width: 50%; 
    }
    
    .nav-link {
        margin: 1rem;
    }

    .hero {
        width: 80%;
        height: 900px;
        margin: 7rem auto 7rem auto;
    }

    .hero img {
        object-fit: fill;
        height: 800px;
        width: 100%;
    }

    .gallery {
        margin: 0 auto; 
        display: flex; 
        flex-direction: column;
        width: 75%;
    }

    .row {

    }

    footer {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 25vh; 
        background-color: gray;
    }

    button {
        font-size: 1.5rem;
        margin-right: auto; 
        margin-left: auto;
        margin-top: 4.5rem;
        padding: 1.5rem 1.5rem 2rem 1.5rem;

    }

    .icons {
        padding-bottom: 1rem;
    }

    .icons img{
        width: 100px; 
        height: 100px;
        padding-right: 1.5rem;
        padding-left: 1.5rem;
    }


    }
    