/* Add CSS styling here */

/* do css reset ~ done and linked */ 

/* do mobile styles, at least 2 media queries*/

* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}


/* *************************************
       big screen display 
**************************************** */
@media only screen and (min-width: 501px) {
    header {
        display: flex;
        padding: 1.5em;
        justify-content: flex-end;
        width: 100%;
    }
    
    h1 {
        font-size: 3em;
        flex-grow: 2;
    }
    
    nav {
        display: flex;
        
    }
    
    .nav-link {
        padding: 15px 15px 10px 15px;
        background-color: black;
        
        margin-right: 10px; 
        
    }
    
    .nav-link a {
        text-decoration: none;
        color: white;
    }
    
    .nav-link a:hover {
        padding: 1em 1.5em;
    }
    
    .hero {
        display: flex;
        margin: 5em auto;
        width: 85%;
        height: 500px; 
        justify-content: center;
        
    }
    
    .hero img {
        object-fit: cover;
        width: 100%
    
    }

    .gallery {
        margin: auto;
        display: flex;
        max-width: 90%; 
        flex-direction: column;
    }
    
    .row {
        display: flex;
        margin: auto;
        width: 100%; 
        justify-content: center;
    }

    .row img {
        width: 400px;
        height: 400px;
        padding: 25px;
    }

    figure {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-right: 20px;
        padding-left: 20px; 
        padding-bottom: 1em;
    }
    .about {
        display: flex;
    }

    .contact {
        display: flex;
    }

    .about h2 {
        padding-top: 3em;
        width: 30%;
        font-size: 2rem;  
        margin-left: 20px;
    }

    .about p {
        width: 70%;
        padding: 7rem 1em;
        height: 500px;
    }

    footer {
        display: flex; 
        flex-direction: column;
    }
    
    footer button {
        margin: 20px auto;
        font-size: 1.5em;
        padding: 1em;
        border-radius: 2px;
        background-color: black;
        color: white;
    }

    .icons {
        margin-left: 25px;
    }

    footer img {
        width: 65px;
        height: 65px;
        padding: 1em .5em;
    }

    .sm-icon {
        width: 45px;
        height: 45px;
    }
    
}


/* ***********************************
              mobile screens
*************************************** */


@media only screen and (max-width: 500px) {
    body {
      background-color: palevioletred;
    }
    header {
        display: flex;
        flex-direction: column;
        padding: 1em;
        justify-content: flex-end;
    }
    
    h1 {
        font-size: 3em;
        text-align: center;
        margin-bottom: .5em;
    }
    
    nav {
        display: flex;
        width: 100%;
        /* background-color: #000; */
        padding: 1em 1.5em; 
        justify-content: space-evenly;
    }
    
    .nav-link {
        background-color: #000;
        padding: 1em;
    }

    /*  .nav-link:hover {
        
    } */
    
    .nav-link a {
        margin-top: .5em; ;
        text-decoration: none;
        text-transform: uppercase;
        letter-spacing: .25em;
        color: cornsilk;
        
    }
    

    .hero {
        display: flex;
        margin: 5em auto;
        width: 85%;
        height: 500px; 
        justify-content: center;
        
    }
    
    .hero img {
        object-fit: contain;
        width: 100%
    
    }

    .gallery {
        display: flex;
        margin: auto;
        width: 90%;
        /* flex-direction: column; */
        flex-wrap: wrap;
        align-items: center;
    }

    .gallery img {
        margin: 1em;
    }

    .img-container {
        width: 95%;
    }

    footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 150px;
        background-color: rgb(41, 40, 43);
        padding-top: 2em; 
    }

    button {
        margin-top: 1.5em;
        background-color: goldenrod;
        width: 100px;
        padding: .5em 1em;

    }
    
    footer img {
        width: 50px;
        height: 50px;
        padding: 1em .5em;
    }

  }















