/* Add CSS styling here */

/* do css reset ~ done and linked */ 

* {
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}

/* use flexbox to style header */

header {
    display: flex;
    padding: 1.5em;
    justify-content: flex-end;
}

h1 {
    font-size: larger;
}

nav {
    display: flex;
    
}

.nav-link {
    padding: .5em 1.5em;
    
}

.nav-link a {
    text-decoration: none;
    background-color: black;
    color: cornsilk;
    padding: .5em 1em;
}

.hero {
    display: flex;
    margin: 5em auto;
    width: 85%;
    height: 500px; 
    justify-content: center;
    border: blue solid 3px; 
    
}

.hero img {
    object-fit: cover;
    width: 100%

}






/* do mobile styles, at least 2 media queries*/
/* mobile will be all one column, widescreen will be wireframe opt 2  */

/* project gallery will be row items of img and one line captions. parent will have column direction; child, row. one img, one caption combos per flex item */