
    
    @media screen and (max-width: 479px) {
    /* start of phone styles */

    header {
        display: flex; 
        flex-direction: column;
        width: 100%;
        align-items: center;
        /* border: indigo solid 2px; */
        
    }

    header h1 {
        width: 100%;
        text-align: center;
        font-size: 3rem;
        padding: 1rem 1.5rem; 
        /* border: red solid 2px; */ 

    }

    header nav {
        width: 99%;
        text-align: center;
        font-size: 2rem;
        /* border: greenyellow solid 2px; */ 
    }

    .nav-link {
        margin: .5rem 0;
        /* border: hotpink solid 2px; */
        padding: 1rem 1.5rem; 
        background-color: #838383;
        color: white; 
    }

    .nav-link a {
        width: 100%; 
        text-decoration: none;
    }
    

    .hero {
        width: 98%; 
        height: 65vh;
        /* background-color: coral;
        border: cornflowerblue solid 1px; */
        margin: 2rem auto; 
    }

    /* Eureka! This is a responsive image! */
    .hero img {
        object-fit: contain;
        padding: 2rem;
        width: 100%;
        height: 100%;
        /* the 100% values is what keeps it centered and anchored to anything that happens to the parent container */
    }
    
    .gallery {
        width: 95%; 
        margin: 0 auto;
        padding: 2rem 1rem;
        display: flex;
        flex-direction: column;
    
    }

    .gallery figure {
        /* border: red solid 2px; */ 
        padding: 2em; 
        margin: 1rem 0 ;
    }

    .gallery figure:hover {
        background-color: lightpink;
    }

    .gallery figcaption {
        text-align: center;
        padding-top: .5rem;
        font-size: 1.5rem;
    }
    .gallery img {
        /* padding: .5rem;  */
        width: 100%;
        height: 100%;
    }

    footer {
        width: 99%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        border-top: lightgray solid 1px;
    }

    footer button {
        width: 40%;
        font-size: 2rem;
        margin: 2rem auto;
        padding: .5rem 1rem;
        background-color: gray;
    }
    .icons {
        display: flex;
        margin: 0 auto 1rem auto;
        width: 35%; 
        /* border: blue solid 1px;  */
        justify-content: space-between;

    }

    .icons img {
        width: 30%; 
        padding: .2rem .2rem; 
        /* border: red solid 1px; */
    }
    
}
    
    